html{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80vh;

}

.password{ 
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.password img{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.password input{
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #140555;
    border-radius: 5px;
}

input[type="password"]{
    background-color: #d6d6d6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.password button{
    background-color: #460606;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}


.container{
    width: 80%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.one h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    animation-name: fadeout;
    animation-duration: 5s;
}

.one p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    animation-name: fadeout;
    animation-duration: 5s;
}

.threebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    animation-name: fadeout;
    animation-duration: 5s;
}

.threebutton button{
    background-color: #460606;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.wishes .text-box{
    border: 3px solid #aaa;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 600px;
    animation-name: fadeout;
    animation-duration: 5s;
}

.text-box p {
    margin: 0;
    text-align: left;
  }
  
.text-box span {
    visibility: hidden;
  }

.text-box .button2 {
    background-color: rgb(21, 161, 237);
    border-radius: 3px;
    bottom: -50px;
    color: #fff;
    padding: .5rem 1rem;
    position: absolute;
    right: 5px;
  }

@keyframes fadeout{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
